.avatar-pic {
  width: 250px;
  border-radius: 50%;
  border: 5px #B3E5FC solid;
}

.avatar-container {
  text-align: center;
  padding-bottom: 15px;
}

.info-container {
  background-color: #0288D1;
  margin: 15px;
}

.name {
  text-align: center;
  font-size: 64px;
  color: white;
  margin-bottom: -20px;
}

.hrule {
  max-width: 275px;
  color: white;
  border-top: solid 4px #B3E5FC;
  margin-bottom: 25px;
}

.info-items {
  text-align: center;
  color: white;
  font-size: 20px;
}

.job-title {
  text-align: center;
  color: white;
  font-size: 30px;
}

.quote {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
